

body {
  margin-top: 80px 0 0;
  font-size: 14px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 36px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

nav .f-left {
  float: left;
  line-height: 24px;
  padding-top: 8px;
  margin-left: 24px;
}

nav .f-right {
  float: right;
  margin-right: 24px;
}

nav svg {
  height: 16px;
}

nav svg.logo {
  height: 24px;
}

nav button {
  height: 28px;
  background-color: #6288a5;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  padding: 0 12px;
  border-radius: 4px;
}

article {
  width: 1200px;
  margin: 80px auto;
}

.article-title {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
}

.title-img {
  width: 900px;
  margin: 0 auto;
}

.title-img > img {
  width: 100%;
}

.image-desc {
  width: 850px;
  float: left;
  color: rgb(63, 63, 63);

}

.credit {
  font-size: 14px;
}

.author-date-wrapper {
  float: left;
}

.article-info,
.article {
  margin: 0 auto;
  padding: 0 300px;
}

.social-media {
  float: right;
}

.social-media ul li {
  list-style-type: none;
  display: inline;
}

.social-media img {
  width: 15px;
  padding: 8px;
}

.article {
  clear: both;
  font-size: 21px;
  line-height: 27px;
}

.article-img img {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  float: left;
}

#diagram-img {
  width: 900px;
}